/* ==============================
   BOX-SIZING GLOBAL
================================ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==============================
   HERENCIA (CONTENEDOR PADRE)
================================ */
body {
    background-color: lightgrey;
    color: blue;           /* SE HEREDA */
    font-family: Arial;    /* SE HEREDA */
    font-size: 24px;       /* SE HEREDA */
    text-align: center;    /* SE HEREDA */
}

/* ==============================
   NAVEGACIÓN (HEREDA COLOR Y FUENTE)
================================ */
.nav {
    background-color: #e6f0ff;
    padding: 20px;         /* NO SE HEREDA */
    border-bottom: 3px solid blue; /* NO SE HEREDA */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav nav {
    display: flex;
    gap: 20px;
}

/* Selector de tipo */
a {
    text-decoration: none;
}

/* Selector de clase + pseudoclase */
.nav a:hover {
    text-decoration: underline;
}

/* ==============================
   HERO
================================ */
.hero {
    background-color: white;
    margin: 20px;
    padding: 60px;
    border: 3px solid blue;
}

/* ==============================
   CONTROLANDO HERENCIA
================================ */
.hero p {
    color: inherit; /* FORZAR HERENCIA DEL PADRE */
}

.hero button {
    font-size: initial; /* EVITA HERENCIA */
    padding: 15px 25px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
}

/* ==============================
   CONTENEDOR TARJETAS
================================ */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

/* Selector de clase */
.card {
    width: 250px;
    background-color: white;
    padding: 20px;
    border: 3px solid blue;
}

/*==============================
   ESPECIFICIDAD
================================ */

/* Selector de tipo (1 punto) */
p {
    color: blue;
}

/* Selector de clase (10 puntos) */
.especial p {
    color: darkblue;
}

/* Selector de ID (100 puntos) */
#lenguas p {
    color: purple;
}

/* !important (GANA SIEMPRE) */
#lenguas p {
    color: red !important;
}

/*==============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
}
